name: Docker Build and Deploy

# EVENT
on:
  push:
    branches:
      - main
      - dev

env:
  BLOG_JWT_KEY: ${{secrets.BLOG_JWT_KEY}}
  BLOG_JWT_ACCESS_TIME: ${{secrets.BLOG_JWT_ACCESS_TIME}}
  BLOG_PROFILE: ${{secrets.BLOG_PROFILE}}
  BLOG_DB_USERNAME: ${{secrets.BLOG_DB_USERNAME}}
  BLOG_DB_PASSWORD: ${{secrets.BLOG_DB_PASSWORD}}
  BLOG_DB_NAME: ${{secrets.BLOG_DB_NAME}}
  BLOG_DB_HOST: ${{secrets.BLOG_DB_HOST}}
  BLOG_DB_PORT: ${{secrets.BLOG_DB_PORT}}
  BLOG_GOOGLE_KEY: ${{secrets.BLOG_GOOGLE_KEY}}
  BLOG_NAVER_KEY: ${{secrets.BLOG_NAVER_KEY}}
  BLOG_SSL_PASSWORD: ${{secrets.BLOG_SSL_PASSWORD}}
  BLOG_UPLOAD_PATH: ${{secrets.BLOG_UPLOAD_PATH}}
  BLOG_SERVER_LINK: ${{secrets.BLOG_SERVER_LINK}}


# STEP 별로 ACTION 선언
jobs:
  build:
    # 우분투 환경
    runs-on:
      - ubuntu-latest

    steps:
      # 브랜치 체크아웃
      - name: Checkout
        uses: actions/checkout@v3
      # JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      # gradlew 권한 부여
      - name: Grant gradlew file
        run: chmod +x gradlew
      # Java 프로그램 빌드
      - name: Build Java
        run: ./gradlew clean build -x test

      # Docker Build IMAGE
      - name: Docker Image Build
        run: docker build -t ${{secrets.BLOG_DOCKER_ID}}/${{secrets.BLOG_DOCKER_IMAGE}}:latest .

      # DockerHub LOGIN
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{secrets.BLOG_DOCKER_ID}}
          password: ${{secrets.BLOG_DOCKER_TOKEN}}

      # DockerHub PUSH
      - name: Docker push
        run: docker push ${{secrets.BLOG_DOCKER_ID}}/${{secrets.BLOG_DOCKER_IMAGE}}:latest


      # AWS SSH
      # Docker Pull && Run
      - name: AWS EC2 Connection and Running
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.BLOG_EC2_HOST}}
          username: ${{secrets.BLOG_EC2_USERNAME}}
          key: ${{secrets.BLOG_EC2_KEY}}
          port: ${{secrets.BLOG_EC2_PORT}}
          script: |
            cd Blog-ReactSpring-backend-prod/
            docker-compose down
            docker-compose pull ${{secrets.BLOG_DOCKER_ID}}/${{secrets.BLOG_DOCKER_IMAGE}}:latest
            docker-compose up -d